/* Popup style */

.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
  }
   
  .box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-height: 100vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #E0E0E2;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    z-index: 12;
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(10%-5px);
    top: calc(100vh - 85vh - 33px);
    color: #27343A;
    background: #E0E0E2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    border: 1px solid #999;
    font-size: 40px;
  }