
:root{
    /* --backgroundcolor: linear-gradient(180deg, rgba(40, 51, 67, 0.089) 0%, rgba(54, 50, 64, 0.178) 55.91%, rgba(67, 40, 59, 0.178) 106.41%);  */
  /* --backgroundcolor: rgba(40, 51, 67, 0.089); */
  }

html {
  overflow-x: hidden;
}

body {
  /* background-color: var(--backgroundcolor); */
  background-color: #FAF8F5;
  padding: 0 0 90px;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}


@font-face {
  font-family: "DMSerifText-Regular";
  src: local("DMSerifText-Regular"),
   url('./fonts/DMSerifText-Regular.ttf') format("truetype");
  font-weight: regular;
  }


@font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins-Regular"),
     url('./fonts/Poppins-Regular.ttf') format("truetype");
    font-weight: regular;
    }

@font-face {
      font-family: "Poppins-Bold";
      src: local("Poppins-Bold"),
       url('./fonts/Poppins-Bold.ttf') format("truetype");
      font-weight: bold;
      }


      
      


  
